.main {
  display: flex;
  justify-content: space-between;
  width: 100%;
  gap: 8px;

  .input {
    flex-grow: 1;
    outline: none;
    background-color: white;
    padding: 8px;
    border-radius: 8px;
    border: none;

    &:hover,
    &:focus {
      box-shadow: 0 0 10px 0 rgb(255, 255, 255);
    }
  }

  .errorInput {
    outline: 2px solid red;
  }

  .buttonBox {
    display: flex;
    justify-content: space-between;
    gap: 8px;

    .button {
      background-color: white;
      padding: 8px;
      border-radius: 8px;
      cursor: pointer;
      font-weight: 800;
      border: none;
      transition: 0.2s;

      &:active {
        scale: 0.95;
      }

      &:hover {
        box-shadow: 0 0 10px 0 rgb(255, 255, 255);
      }
    }

    .disabledButton {
      background-color: white;
      padding: 8px;
      border-radius: 8px;
      font-weight: 800;
      border: none;
      color: gray;
    }
  }
}

@media (max-width: 768px) or (max-height: 768px) {
  .main {
    flex-direction: column;
  }
}
