.main {
  width: 100%;
  display: flex;
  cursor: auto;
  user-select: none;
  border-bottom: 2px solid rgb(180, 180, 180);
  font-size: 1.25rem;

  .columnElement {
    display: flex;
    justify-content: center;
    padding: 4px 0;
    flex-grow: 2;
    flex-shrink: 1;
    flex-basis: 0;
  }

  .title {
    background-color: black;
    color: white;
    font-weight: bold;
    padding-right: 8px;
  }
}

.chosen {
  background-color: rgb(180, 180, 180);
}

.mainTitle {
  font-size: 1.5rem;
}

@media (max-width: 768px) or (max-height: 768px) {
  .main {
    font-size: 1rem;
  }

  .mainTitle {
    font-size: 1.25rem;
  }
}
