.main {
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 40px;

  .title {
    position: absolute;
    top: 0;
    color: white;
    font-weight: bold;
    margin-top: 20px;
    font-size: 2.5rem;
  }

  .verticalTitle {
    font-size: 2rem;
  }

  .players {
    color: white;
    margin-bottom: 10px;
    font-size: 1.5rem;

    .playerBox {
      display: flex;
      align-items: center;
      justify-content: space-between;
      flex-wrap: wrap;
      max-width: min(95vw, 480px);
      overflow: hidden;
      gap: 10px;

      img {
        width: 28px;
      }

      .nickname {
        color: rgb(165, 224, 165);
      }

      .waiting {
        color: rgb(224, 165, 165);
      }
    }
  }

  .chatBox {
    position: fixed;
    width: 100vw;
    height: 100vh;
    background-color: rgb(51, 51, 51);
    display: flex;
    padding-top: 12px;
    justify-content: center;
    overflow: hidden;
    transition: 0.3s;
    left: -3000px;
  }

  .openedChatBox {
    left: 0;
  }

  .button {
    position: absolute;
    bottom: 12px;
    right: 12px;
    color: white;
    background-color: transparent;
    border: none;

    &:focus {
      outline: none;
    }

    .img {
      width: 40px;
      height: 40px;
    }
  }
}

.verticalMain {
  flex-direction: column;
}

@media (max-width: 768px) {
  .main {
    .players {
      margin-bottom: 5px;
      font-size: 1.25rem;
    }
  }
}
